html {
    box-sizing: border-box;
}

body {
    background: #518acc; /* Old browsers */
    background: -moz-linear-gradient(left, #518acc 0%, #9b66ff 30%, #b439e5 71%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #518acc 0%,#9b66ff 30%,#b439e5 71%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #518acc 0%,#9b66ff 30%,#b439e5 71%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518acc', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.wrapper {
    background: url("imgs/bgpic.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 900px;
    max-height: 600px;
    /*height: 80vh;*/
    margin: 0 auto;
    perspective: 1000px;
    perspective-origin: top;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
    transform-origin: top;
    transition: 700ms;
    transform: rotateX(-90deg);
}

.indicators-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.list {
    list-style: none;
    text-align: center;
    padding: 5px;
    padding-left: 0;
    margin: 0;
}

.indicator {
    display: inline;
    margin: 5px;
    content: " ";
    font-size: 1px;
    border: 5px solid #fff;
    border-radius: 100%;
    transition: all 700ms;
    cursor: pointer;
}

.active {
    border-color: skyblue;
}


@media all and (min-width: 1200px) {
    .wrapper {
    max-width: 1200px;
    max-height: 1068px;
    }
}